[Unit]
Description=This service updated the inky impression display with currently playing spotify artwork, or a slide show
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=LOCATION
EnvironmentFile=/etc/systemd/system/spotify.service.d/spotify_eink.conf
ExecStart=/usr/bin/python LOCATION/run.py
Restart=always
RestartSec=3
User=USER

[Install]
WantedBy=multi-user.target
